.homepage 
{
    display: flex;
    height: 100vh;
}
.sidebar-section
{
    width: 160px;
    padding: 10px;
    border-right: 1px solid #ccc;
    background: #f9f9f9;
}
.sidebar-container
{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}